@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  text-align: center;
  font-family: "Quicksand";
}

.highlight {
  background: linear-gradient(120deg, #FFE600 100%, #FFE600 100%);
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-position: 0 85%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
