@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");

.App {
  text-align: center;
  font-family: "Poppins";
  width: 100%;
  color: #151717;
}

.highlight {
  color: #1b6f72;
  text-decoration: none;
  font-weight: 600;
}

.tag {
  color: #1b6f72;
  text-decoration: none;
  font-weight: 600;
  background: linear-gradient(120deg, #fff 100%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 85%;
  font-size: 12;
}
.circ-img {
  width: 100%;
}

.exp-logo {
  height: 10vh;
  clip-path: circle();
}

.contact-link {
  color: black;
  text-decoration: none;
  margin-right: 5%;
}

.contact-link:hover {
  background: linear-gradient(120deg, #fff 100%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-position: 0 85%;
}

.title-text:hover {
  background: linear-gradient(120deg, #fff 100%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-position: 0 85%;
}

.nav-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.container-scroll {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  background-color: #218184;
}

.container-mobile {
  width: 100%;
  overflow-y: scroll;
  background-color: #fffef4;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.project-tile {
  background-color: #1b6f72;
  padding: 20;
  height: 20%;
  color: #fff;
}

.item {
  min-width: 1200pt;
  max-height: 594pt;
  background-color: #fffef4;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.airplane-img {
  offset-path: path("M0,0 C 40,-20 40,-100 0,-100 C -40,-100 -40,-20 0,0");
  offset-anchor: center;
  offset-distance: 0%;
  offset-rotate: 0deg;
}

.airplane-looping {
  animation: airplane-loop 1s cubic-bezier(0.45, 0, 0.55, 1);
}

@keyframes airplane-loop {
  0% {
    offset-distance: 0%;
    offset-rotate: 0deg;
  }
  100% {
    offset-distance: 100%;
    offset-rotate: -360deg;
  }
}

.itemdouble {
  min-width: 1400pt;
  max-height: 594pt;
  background-color: #fffef4;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.font-title {
  font-family: "Trocchi";
  font-size: 40px;
  color: #1b6f72;
}

@media screen and (max-width: 768px) {
}

.font-body {
  font-size: 15pt;
}

.container-scroll::-webkit-scrollbar {
  height: 8px;
}

.container-scroll::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.container-scroll::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

/* fish */

.fish {
  width: 125px;
  height: 45px;
  position: relative;
}

.fish-body {
  width: 100%;
  height: 100%;
  background-color: #1b6f72;
  border-radius: 10% 25% 10% 20% / 40% 60% 40% 40%;
  position: relative;
}

.fish-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

@keyframes swim {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes tail-flap {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Cloud */

.cloud {
  position: relative;
  width: 400px;
  height: 175px;
  background-color: #f1f1f1;
  border-radius: 100px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background-color: inherit;
  border-radius: inherit;
}

.cloud:before {
  width: 100px;
  height: 100px;
  top: -40px;
  left: 90px;
}

.cloud:after {
  width: 150px;
  height: 150px;
  top: -80px;
  right: 90px;
}

.cloud-text {
  z-index: 1000;
}
